<p> <%= @description %> </p>


<a href = "/Take_train"> Run so you don't miss the next stop! </a>
<a href = "/Take_bus"> Next bus comes in 5 minutes, hurry up!  </a>
<a href = "/Stay_home"> Enjoy your day of hookey </a>
