Drive:
<p> <%= @description %> </p>


<a href = "/Take_train"> Run so you don't miss the next stop! </a>
<a href = "/Take_bus"> Next bus comes in 5 minutes, hurry up!  </a>
<a href = "/Stay_home"> Enjoy your day of hookey </a>



Dont go:
<p> <%= @description %> </p>


<a href = "Enjoy your day off!" </a>

bus: 
<p> <%= @description %> </p>


<a href = "/Go_home"> Run home before the storm hits. </a>
<a href = "/Wait_it_out"> Wait and hope the storm doesn't hit!  </a>
